/* Restaurant Search */
* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}
.wrapper main {
    overflow: auto;
}

#main-logo-heading {
    letter-spacing: 20px;
    color: #a4bb94;
}

#main-logo-card {
    margin: 20px auto 0 auto;
    width: 60%;
}

#get-started-btn {
    background-color: #cae5b7;
    border-radius: 15px;
    width: 190px;
    height: 50px;
    border: none;
    color: #627058;
}

.btn-success {
    border-color: #cae5b7!important;
    background-color: #cae5b7!important;
    color: #66874f;
}

.btn-success:hover, .btn-success:active, .btn-success:focus{
    color: #55604c;
}

#get-started-btn:hover {
    background-color: #d5f1c2;
}

.login-subhead {
    color: #93a587;
}

#search {
    margin-top: 80px;
}

#filter-options {
    margin-top: 50px;
    padding-bottom: 20px;
}

#filter-options .dropdown {
    margin-right: 12px;
}

#filter-options .dropdown .btn {
    background-color: #639977;
    color: white;
}

#filter-options .dropdown .btn:hover  {
    background-color: #598b6b;
}

#filter-options .dropdown-item {
    padding: 0;
    margin: auto;
}

#card-container {
    height: 100vh;
    overflow: auto;
}

#card-container .card:hover {
    background-color: #f7fffa;
    cursor: pointer;
}

#card-container .display-dish-count {
    background-color:#8baf9b;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 35%;
    height: 25px;
    width: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.rest-img {
    height: 100%;
}

#rest-results-main {
    flex-direction: row-reverse;
}

#spinner {
    display: none;
}

#spinner > div {
    margin-top: 5px;
}

#restDetails {
    margin-top: 50px;
}

#restDetails a {
    color: #5a7877!important;
    text-decoration: none!important;
}

#restDetails a:hover {
    text-decoration: underline!important;
}

#menu-items {
    margin: 50px 0;
}

#menu-items .sub-menu-head {
    font-size: 22px;
    margin: 50px 0 25px 0;
    letter-spacing: 5px;
}

#menu-items .menu-type-head {
    font-size: 35px;
    margin: 50px 0;
}


#menu-items .card-title {
    margin-bottom: 80px;
}

#menu-items .modal-dish-des {
    padding: 20px 0;
}

#menu-items .viewDish  {
    position: absolute;
    bottom: 20px;
}

.menu-btn {
    position: absolute;
    bottom: 20px;
}

#full-menu {
    margin-top: 80px;
}

#menuListContainer {
    display: none;
    flex-wrap: wrap;
    text-align: center;
}

#menuListContainer .menu-item:hover {
    cursor: pointer;
    color: #738533;
}

.green-link, .green-link:hover{
    color: #2f8b5f;
    text-decoration: none;
}

.green-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.showMenu {
    display: flex!important;
}

#menuListContainer .menuListGroup {
    flex: 33%;
}

.search-text {
    margin-top: 100px;
    font-size: 20px;
    letter-spacing: 5px;
}

/* LOGIN */
#account-form {
    margin: 100px 0;
}

#account-form button {
    margin-top: 50px;
}

/* USER PROFILE */

.dropdown-menu {
    left: auto!important;
    right: 0;
}

#add-allergen {
    margin-top: 10px;
}

#allergen-list {
    margin-top: 50px;
}

.allergen-name {
    font-weight: 300;
}

#save-allergen {
    margin-top: 30px;
}

#map {
    height: 80%; 
    width: 80%;
    margin: auto;
}

#allergen-form > #results {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #afc9bc;
    z-index: 10;
}

#allergen-form {
    position: relative;
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    clear: both;
}

@media screen and (max-width: 650px) {
    #menu-items-list {
        padding: 5%;
    }

    #main-logo-card {
        width: 100%;
    }

    #main-card-tagline {
        flex-wrap: wrap;
    }

    #restDetails  {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 767px) {

    #card-container .display-dish-count {
        top: auto;
        bottom: 70px;
    }
}

@media screen and (max-width: 1200px) {
    #main-logo-card {
        width: 80%;
    }
}
