/* Restaurant Search */
* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}
.wrapper main {
    overflow: auto;
}

#search {
    margin-top: 80px;
}

#filter-options {
    margin-top: 50px;
}

#filter-options .dropdown {
    margin-right: 12px;
}

#filter-options .dropdown .btn {
    background-color: #639977;
    color: white;
}

#filter-options .dropdown .btn:hover  {
    background-color: #598b6b;
}

#filter-options .dropdown-item {
    padding: 0;
    margin: auto;
}

#or-div {
    font-size: 20px;
    font-weight: 300;
}

#card-container {
    height: 100vh;
    overflow: auto;
}

#card-container .card:hover {
    background-color: #f7fffa;
    cursor: pointer;
}

#card-container .display-dish-count {
    background-color:#8baf9b;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 35%;
    height: 25px;
    width: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.rest-img {
    height: 100%;
}

#spinner {
    display: none;
}

#spinner > div {
    margin-top: 5px;
}

#restDetails a {
    color: #5a7877!important;
    text-decoration: none!important;
}

#restDetails a:hover {
    text-decoration: underline!important;
}

#menu-items {
    margin: 50px 0;
}

#menu-items .sub-menu-head {
    font-size: 22px;
    margin: 50px 0 25px 0;
    letter-spacing: 5px;
}

#menu-items .menu-type-head {
    font-size: 35px;
    margin: 50px 0;
}


#menu-items .card-title {
    margin-bottom: 80px;
}

#menu-items .modal-dish-des {
    padding: 20px 0;
}

#menu-items .viewDish  {
    position: absolute;
    bottom: 20px;
}

.menu-btn {
    position: absolute;
    bottom: 20px;
}

#full-menu {
    margin-top: 80px;
}

#menuListContainer {
    display: none;
    flex-wrap: wrap;
    text-align: center;
}

#menuListContainer .menu-item:hover {
    cursor: pointer;
    color: #738533;
}

.green-link, .green-link:hover{
    color: #738533;
    text-decoration: none;
}

.green-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.showMenu {
    display: flex!important;
}

#menuListContainer .menuListGroup {
    flex: 33%;
}

.search-text {
    margin-top: 100px;
    font-size: 20px;
    letter-spacing: 5px;
}

/* LOGIN */
#account-form {
    margin: 100px 0;
}

#account-form button {
    margin-top: 50px;
}

/* USER PROFILE */
#add-allergen {
    margin-top: 10px;
}

#allergen-list {
    margin-top: 50px;
}

.allergen-name {
    font-weight: 300;
}

#save-allergen {
    margin-top: 30px;
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    clear: both;
}

@media screen and (max-width: 600px) {
    #menu-items-list {
        padding: 5%;
    }
}
