<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/head::head"></head>
    <body>
        <div th:replace ="fragments/navigator::nav"></div>
        <div class="wrapper">
            <main class="container">
                <div class="text-center" style="margin-top: 5%; margin-bottom: 2%;">
                    <h1 id="main-logo-heading" class="display-1">weet</h1>
                    <p class="lead">Food for the People</p>
                </div>

                <div id = "main-logo-card" class="card">
                    <img th:src="@{images/landingPageImage.jpg}" class="card-img-top" alt="main-image">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="margin: 10px 0 30px 0;">Dietary Restrictions Made 
                            <span style="color: #8ba579; font-style: italic;">Easy</span>
                            <img th:src="@{images/leaf.png}" alt="" width="35" height="35">
                        </h5>
                        <div id = "main-card-tagline" class="d-flex justify-content-around">
                            <p>Gluten-Free</p>
                            <p>|</p>
                            <p>Nut-Free</p>
                            <p>|</p>
                            <p>Fish-Free</p>
                            <p>|</p>
                            <p>Vegan</p>
                            <p>|</p>
                            <p>Vegetarian</p>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="/login">
                        <button type="button" id = "get-started-btn" style="margin: 50px 0;">Get Started</button>
                    </a>
                </div>
            </main>
        </div>
        <div th:replace ="fragments/footer::footer"></div>
    </body>
</html>