<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/head::head"></head>
    <body>
        <div th:replace ="fragments/navigator::nav"></div>
        <main style="margin-top: 100px;">
            <h1 class="display-4 text-center">Restaurant Search</h1>
            <section id = "filter-options" class="container">
                <form class="d-flex"  th:action="@{/getRestaurants/}" method="get">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="locationMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Location
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="locationMenuLink">
                            <div id = "zip-filter">
                                <h1 class="lead text-center">Zipcode</h1>
                                <li><input name="zip" class="text-center" type="text" placeholder="10010"></li>
                            </div>
                            <p id = "or-div" class="text-center">-- or --</p>
                            <div id = "borough-filter">
                                <h1 class="lead text-center">Borough</h1>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="bx">Bronx</option>
                                    <option value="bk">Brooklyn</option>
                                    <option value="mhn">Manhattan</option>
                                    <option value="si">Staten Island</option>
                                    <option value="qns">Queens</option>
                                </select>
                            </div>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="ratingMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Rating
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="ratingMenuLink">
                            <li><a class="dropdown-item" href="#"><img class = "star-rate" th:src=@{images/star-4.png}></a></li>
                            <li><a class="dropdown-item" href="#"><img class = "star-rate" th:src=@{images/star-3.png}></a></li>
                            <li><a class="dropdown-item" href="#"><img class = "star-rate" th:src=@{images/star-2.png}></a></li>
                            <li><a class="dropdown-item" href="#"><img class = "star-rate" th:src=@{images/star-1.png}></a></li>
                        </ul>
                    </div>

                    <div class="flex-grow-1 d-flex">
                        <input class="form-control me-2" type="search" placeholder='Search "keyword"' aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>

            </section>
            <section th:switch="${#lists.size(results)}">
                <div th:case="'0'" class="text-center p-5">No Restaurants Yet!</div>
                <div th:case="*">
                    <div th:replace ="fragments/restaurantResults::restResults(results=${results})"></div>
                </div>
            </section>
        </main>
        <script type="text/javascript" th:src="@{js/index.js}"></script>
    </body>
</html>
