<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/head::head"></head>
    <body>
        <div th:replace ="fragments/navigator::nav"></div>
        <div class="wrapper">
          <main class="container" th:if="${restaurant == null}">
              <h1 class="text-center" style="margin-top: 100px;">Unable to render restaurant details</h1>
              <p class="lead text-center">Go back to <a href="/search" class="green-link">search</a></p>
          </main>
          <main class="container" th:unless="${restaurant == null}" style="margin-top: 100px;">
            <div>
              <h1 class="display-3 text-center" th:text="${restaurant.getRestName()}"></h1>
              <p class="lead text-center" th:if="${restaurant.getRestCuisine() != null}" th:text="${restaurant.getRestCuisine()}"></p>
            </div>
              <div id ="restDetails" class="d-flex">
                  <div style="padding-right: 20px;">
                    <p style="margin-top: 30px;">
                      <span class="fw-bold">Price Range:</span>
                      <span th:if="${yelp.getPriceRange() == ''}">Not Available</span>
                      <span th:unless="${yelp.getPriceRange() == null}" th:text="${yelp.getPriceRange()}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Description:</span>
                        <span th:if="${restaurant.getRestDescription() == ''}">Not Available</span>
                        <span th:unless="${restaurant.getRestDescription() == ''}" th:text="${restaurant.getRestDescription()}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Address:</span>
                        <span th:if="${restaurant.getRestAddress() == ''}">Not Available</span>
                        <span th:unless="${restaurant.getRestAddress() == ''}" th:text="${restaurant.getRestAddress() + ' ' + restaurant.getCity() + ', ' + restaurant.getState() + ' ' + restaurant.getZip()}"></span>
                        <span th:unless="${restaurant.getRestAddress() == ''}" >(<a th:href="'https://www.google.com/maps/place/'+${restaurant.getRestAddress()}" target="_blank">Directions</a>)</span>
                    </p>
                    <p>
                        <span class="fw-bold">Website:</span>
                        <span th:if="${restaurant.getRestSite() == ''}">Not Available</span>
                        <a th:unless="${restaurant.getRestSite() == ''}" th:href="${restaurant.getRestSite()}" th:text="${restaurant.getRestSite()}" target="_blank"></a>
                    </p>
                    <p>
                        <span class="fw-bold">Phone:</span>
                        <span th:if="${restaurant.getPhone() == ''}">Not Available</span>
                        <span th:unless="${restaurant.getPhone() == null}" th:text="${restaurant.getPhone()}"></span>
                    </p>
                  </div>
                  <div class="flex-grow-1 text-center">
                      <img th:src="@{images/rest-placeholder.jpeg}" class="img-fluid rounded-start rest-img" alt="...">
                  </div>
              </div>

              <div id="menu-items">
                <div>
                  <h2 class="display-6 menu-type-head">Your Dishes</h2>
                  <div th:replace ="fragments/menuCard::menu(menuItems=${restaurant.getUserItems()})"></div>
                </div>
                <div>
                  <div class="text-center">
                    <button id = "full-menu" type="button" class="btn btn-secondary">View Full Menu</button>
                  </div>
                  <div th:replace ="fragments/menuList::menu(restaurant=${restaurant})"></div>
                </div>
              </div>

          </main>
        </div>
        <div th:replace ="fragments/footer::footer"></div>
        <script type="text/javascript" th:src="@{js/details.js}"></script>
    </body>
</html>
