<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/head::head"></head>
    <body>
        <div th:replace ="fragments/navigator::nav"></div>
        <div class="wrapper">
          <main class="container" th:if="${restaurant == null}">
              <h1 class="text-center" style="margin-top: 100px;">Unable to render restaurant details</h1>
              <p class="lead text-center">Go back to <a href="/search" class="green-link">search</a></p>
          </main>
          <main class="container" th:unless="${restaurant == null}" style="margin-top: 100px;">
            <div>
              <h1 class="display-3 text-center" th:text="${restaurant.getRestName()}"></h1>
              <p class="lead text-center" th:if="${restaurant.getRestCuisine() != null}" th:text="${restaurant.getRestCuisine()}"></p>
            </div>
              <div id ="restDetails" class="d-flex">
                  <div style="padding-right: 20px;">
                    <p style="margin-top: 30px;">
                      <span class="fw-bold">Price Range:</span>
                      <span th:if="${yelp?.getPriceRange()}" th:text="${yelp.getPriceRange()}"></span>
                      <span th:unless="${yelp?.getPriceRange()}">Not Available</span>
                    </p>
                    <p>
                        <span class="fw-bold">Description:</span>
                        <span th:if="${restaurant.getRestDescription() == ''}">Not Available</span>
                        <span th:unless="${restaurant.getRestDescription() == ''}" th:text="${restaurant.getRestDescription()}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Address:</span>
                        <span th:if="${restaurant.getRestAddress() == ''}">Not Available</span>
                        <span th:unless="${restaurant.getRestAddress() == ''}" th:text="${restaurant.getRestAddress() + ' ' + restaurant.getCity() + ', ' + restaurant.getState() + ' ' + restaurant.getZip()}"></span>
                        <span th:unless="${restaurant.getRestAddress() == ''}" >(<a th:href="'https://www.google.com/maps/place/'+${restaurant.getRestAddress()}" target="_blank">Directions</a>)</span>
                    </p>
                    <p>
                        <span class="fw-bold">Website:</span>
                        <span th:if="${restaurant.getRestSite() == ''}">Not Available</span>
                        <a th:unless="${restaurant.getRestSite() == ''}" th:href="${restaurant.getRestSite()}" th:text="${restaurant.getRestSite()}" target="_blank"></a>
                    </p>
                    <p>
                        <span class="fw-bold">Phone:</span>
                        <span th:if="${restaurant.getPhone() == ''}">Not Available</span>
                        <span th:unless="${restaurant.getPhone() == null}" th:text="${restaurant.getPhone()}"></span>
                    </p>
                  </div>
                  <div class="flex-grow-1 text-center">
                      <img th:if="${yelp?.getImageURL()}" th:src="${yelp.getImageURL()}" class="img-fluid rounded-start rest-details-img" alt="...">
                      <img th:unless="${yelp?.getImageURL()}" th:src="@{images/rest-placeholder.jpeg}" class="img-fluid rounded-start rest-details-img" alt="...">
                  </div>
              </div>

              <div id="menu-items">
                <div>
                  <h2 class="display-6 sub-type-head">Your Dishes</h2>
                  <div th:replace ="fragments/menuCard::menu(menuItems=${restaurant.getUserItems()})"></div>
                </div>
                <div>
                  <div class="text-center">
                    <button id = "full-menu" type="button" class="btn btn-secondary">View Full Menu</button>
                  </div>
                  <div th:replace ="fragments/menuList::menu(restaurant=${restaurant})"></div>
                </div>
              </div>

              <div>
                <h2 class="display-6 sub-type-head">Reviews 
                  <span th:if="${yelp?.getOverallRate()}" th:text="'(' + ${yelp.getOverallRate()} + ')'"></span>
                  <span th:unless="${yelp?.getOverallRate()}">(0)</span>
                  <span th:if="${yelp?.getYelpURL()}">
                    <a th:href="${yelp.getYelpURL()}" target="_blank"><img data-bs-toggle="tooltip" data-bs-placement="top" title="More Reviews" th:src="@{images/yelp.svg}" width="35px"></a>
                  </span>
                </h2>
                <div id="user-reviews" class="card-group" th:if="${yelp?.getReviews()}">
                    <div class="card border-secondary"  th:each="review:${yelp.getReviews()}">
                      <div class="card-header">
                        <span>Rating:</span> 
                        <span th:text="${review.getRate()}"></span>
                      </div>
                      <div class="card-body text-secondary">
                        <blockquote class="blockquote mb-0">
                          <p> 
                            <span  th:text="${review.getReview()}"></span>
                            <a class = "read-more green-link" th:href="${review.getReviewUrl()}" target="_blank">(Read more)</a>
                          </p>
                          <footer class="blockquote-footer"> <cite title="Source Title" th:text="${review.getReviewer()}"></cite></footer>
                        </blockquote>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted" th:text="${'Review on ' + review.getTimeStamp()}"></small>
                      </div>
                  </div>
                </div>
                <div id="user-reviews" th:unless="${yelp?.getReviews()}">
                  No Reviews Found.
                </div>
              </div>

          </main>
        </div>
        <div th:replace ="fragments/footer::footer"></div>
        <script type="text/javascript" th:src="@{js/details.js}"></script>
    </body>
</html>
