<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/head::head"></head>
    <body>
        <div th:replace ="fragments/navigator::nav"></div>
            <main style="margin-top: 100px;">
                <h1 class="display-3 text-center" th:text="${ userName + '''s Profile'}"> </h1>
                <div th:replace ="fragments/allergen::allergenList(allergens=${allergenList})"></div>  
                <div th:replace ="fragments/restriction::dietaryRestrictionList(dietaryRestrictions=${dietaryRestrictionList})"></div>  
                <div class="text-center" style="margin-top: 80px;">
                    <a href="/search" class="btn btn-secondary" th:if="${not #lists.isEmpty(allergenList) OR not #lists.isEmpty(dietaryRestrictionList)}">Begin Search</a>
                    <a href="/search" class="btn btn-secondary disabled" th:unless="${not #lists.isEmpty(allergenList) OR not #lists.isEmpty(dietaryRestrictionList)}" >Begin Search</a>
                </div>
            </main>
        <div th:replace ="fragments/footer::footer"></div>
        <script type="text/javascript" th:src="@{js/allergenAuto.js}"></script>
        <script type="text/javascript" th:src="@{js/restrictionAuto.js}"></script>
    </body>
</html>