<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace ="fragments/head::head"></head>
    <body>
        <div th:replace ="fragments/navigator::nav"></div>
        <div class="wrapper">
            <main style="margin-top: 100px;">
                    <h1 class="display-3 text-center"> User Profile </h1>
                    <div th:replace ="fragments/allergen::allergenList(allergens=${allergenList})"></div>  
                    <div class="text-center">
                        <a href="/search">
                            <button type="button" class="btn btn-secondary" style="margin-top: 80px;">Begin Search</button>
                        </a>
                    </div>
            </main>
        </div>
        <div th:replace ="fragments/footer::footer"></div>
        <script type="text/javascript" th:src="@{js/validation.js}"></script>
    </body>
</html>