<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <body th:fragment="allergenList(allergens)">
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Allergens</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="all:${allergens}">
                        <td>
                            <span th:text="${all.getAllergen()}"></span>
                            <form th:action="@{/allergenDelete}" method="post">
                                <input type="hidden" name="id" th:value="${all.getId()}">
                                <input type="hidden" name="name" th:value="${all.getAllergen()}">
                                <button type="submit">Delete</button>
                            </form>
                         </td>                    
                     </tr>
                     
                </tbody>
            
            </table>
        </div>
         <!-- Button trigger modal -->
         <button type="button" class="btn btn-success addAllergen" data-bs-toggle="modal" data-bs-target="#allergenmodal">
            Add Allergen
            </button>

            <!-- MODAL -->
            <div class="modal fade" id="allergenmodal" tabindex="-1" aria-labelledby="addAllergen" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class=“modal-title” id=“addAllergen” >Enter the Name of Your Allergen</h5>                       
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body">
                        <form th:action="@{/addAllergen}" method="post">
                            <input type="text" class="form-control" name="name" />
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
  
            </div>
        </div>
    </body>
</html>