<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <body th:fragment="allergenList(allergens)">
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Allergens</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="all:${allergens}">
                        <td>
                            <span th:text="${all.getAllergen()}"></span>
                            <form th:action="@{/allergenDelete}" th:object="${allergen}" method="post">
                                <input type="hidden" name="id" th:value="${allergen.id}">
                                <input type="hidden" name="name" th:value="${allergen.name}">
                                <button type="submit">Delete</button>
                            </form>
                            <!--<button type="submit" class="btn btn-success" name="action" value="remove">Remove</button>-->
                         </td>                    
                     </tr>
                     
                </tbody>
            
            </table>
        </div>
        <div class="container text-center" style="margin-top: 2%;">
            <button type="submit" class="btn btn-success">Add Allergen</button>
            </div>
        </div>
    </body>
</html>