<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <body>
        <div th:fragment="menu(menuItems)">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col card-group" th:each="item,status : ${menuItems}">
                    <div class="card">
                        <img th:src="@{images/food-placeholder.jpg}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.getItemName()}"></h5>
                            <p class="card-text dishItemDes" th:text="${item.getItemDescription()}"></p>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-success viewDish" data-bs-toggle="modal" th:data-bs-target="|#Modal${status.index}|">
                            View Dish Details
                            </button>

                            <!-- MODAL -->
                            <div class="modal fade" th:id="|Modal${status.index}|" tabindex="-1" aria-labelledby="dishModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="dishModalLabel" th:text="${item.getItemName()}"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
