<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <body th:fragment="restResults(results)">
        <div class="container" style="padding-top: 50px;">
            <h1 class="display-6" th:text="${'Results: '+ #lists.size(results)}"></h1>
            <div id = "rest-results-main" class="d-flex" style="margin: 50px 0;">
                <div id = "card-container">
                    <div class="card mb-3 mx-auto" style="max-width: 700px;" th:each="rest : ${results}" th:attr="onclick=|redirectToDetails('${rest.getRestId()}')|">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img th:if="${rest.getYelpData()?.getImageURL()}" th:src="${rest.getYelpData().getImageURL()}" class="img-fluid rounded-start w-100" alt="...">
                                <img th:unless="${rest.getYelpData()?.getImageURL()}" th:src="@{images/rest-placeholder.jpeg}" class="img-fluid rounded-start w-100" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${rest.getRestName()}"></h5>
                                    <span class="card-text"><small class="text-muted" th:text="${rest.getRestAddress()}"></small></span><br/>
                                    <span class="card-text"><small class="text-muted" th:text="${rest.getCity() + ', ' + rest.getState() + ' ' + rest.getZip()} "></small></span>
                                    <div class="restriction-group">
                                        <span class="card-text restriction-text"><small class="text-muted">Restrictions:</small></span>
                                        <div th:each="labelName:${rest.getLabels()}" style="display: inline-block;">
                                            <span th:if="${labelName == 'Peanuts'}" class="restriction-label peanuts"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Dairy'}" class="restriction-label dairy"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Gluten'}" class="restriction-label gluten"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Fish'}" class="restriction-label fish"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Eggs'}" class="restriction-label eggs"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Soybeans'}" class="restriction-label soy"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Tree Nuts'}" class="restriction-label tree"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Shellfish'}" class="restriction-label shell"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Sesame'}" class="restriction-label sesame"  th:text="${labelName}"></span>

                                            <span th:if="${labelName == 'Vegan'}" class="restriction-label vegan"  th:text="${labelName}"></span>
                                            <span th:if="${labelName == 'Vegetarian'}" class="restriction-label veg"  th:text="${labelName}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="display-dish-count">
                                    <span th:text="${#lists.size(rest.getUserItems())}"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id = "map-container" class="flex-grow-1 text-center">
                    <div id = "map"></div>
                </div>
            </div>
        </div>
    </body>
</html>
